* {
  box-sizing: border-box;
  background-color: #f28260;
}

body {
	background-color: #a83113; 
	color: #fff;
	font-family: 'Courier New', Courier, monospace; 
	letter-spacing: .1em;
	margin: 0;
	overflow-x: hidden;
	text-align: center;
  
}

h1 {
	font-size: 80px; 
	font-family: 'Courier New', Courier, monospace; 
	font-weight: bolder;
	margin: 0 0 20px 0;
	padding: 0;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px; 
	font-family: Komtit; 
	margin: 0;
	padding: 0; 
}

h4{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

button {
	border: 0;
	box-shadow: 3px 3px 3px #222;
	color: #222; 
	cursor: pointer;
	font-family: Lato;
	font-size: 25px; 
	margin: 10px auto;
	padding: 10px 0;
	width: 170px; 
    background-color: #dc2525;
}

button:hover {
  background-color: grey;
  color: white;
}

img.card{
  font-size: 26px;
}

img {
	border-radius: 10px; 
	box-shadow: 3px 3px 3px #222;
	width: 10%;
  background: #fff;
}

footer {
	color: #e8e8e8;
	margin-top: 50px;
	padding: 10px 0;
	width: 100%;
}


.warBoard {
	background: rgba(0,0,0,0.7);
	height: 60vh;
	left: 0;
	line-height: 60vh;
	position: fixed;
	top: 10vh;
	width: 100vw;
	z-index: 900;
}

.warBoard div {
	display: inline-block;
	margin: 0 20px;
	max-width: 200px;
	width: 20%;
	vertical-align: middle;
}