* {
  box-sizing: border-box;
  background-color: #f28260;
}

body {
  height: 100vh;
  font-family: sans-serif;
  justify-content: center;
  display: inline-table;
  padding: auto;
}

h1{
  display: center;
  align-content: center;
  justify-content: center;
  padding:auto;
}
h2{
  font-display: center;
  align-content: center;
  margin: auto;
  padding: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
  padding: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  background-color: #dc2525;
}

button:hover {
  background-color: grey;
  color: white;
}
